.container {
    width: 400px;
    height: 300px;
    display: flex;
    margin: 30px auto;
    padding: 10px 20px;
    flex-direction: column;
  }
.container h1 {
    color: #ffffff;
    padding: 10px;
    text-align: center;
}